@import '../styles/utils';

.header {
  width: 100%;
  margin: 4% 0 2% 0;

  .serviceNameWrapper {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
  }
  .serviceName {
    font-size: 0.8rem;
    margin: auto;
    @include tablet {
        font-size: 0.9rem;
    }
    @include desktop {
        font-size: 1rem;
    }


    a {
      text-decoration: none;
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
