@import "../styles/utils";
$tablet-width: 768px;
$desktop-width: 1024px;

.sns {
  margin: 5% 0 2%;
  @include tablet {
    margin: 6% 0 2%;
  }
  @include desktop {
    margin: 6% 0 2%;
  }
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  70% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  70% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.twitterIcon {
  display: block;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  position: relative;

  font-size: 0.1px;
  background-image: url("/images/twitter_icon_black.svg");

  width: 35px;
  height: 35px;

  &:active {
    background-image: url("/images/twitter_icon_blue.svg");
    -webkit-animation: bounceIn 0.5s cubic-bezier(0.215, 0.61, 0.355, 1)
      forwards;
    animation: bounceIn 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }



  &:hover {
    @include desktop {
      background-image: url("/images/twitter_icon_blue.svg");
      -webkit-animation: bounceIn 0.5s cubic-bezier(0.215, 0.61, 0.355, 1)
        forwards;
      animation: bounceIn 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    }
  }
}
