{% extends 'base.html' %}

{% block title %}404{% endblock %}

{% block content %}
    <h1>はて...?</h1>
    <div class="fake">
        <div class="author-wrapper">
            <div class="fake-author">
                <img class="profile" src="/static/image/bungo/fuyume.jpg" alt="エセ文豪近影"></img>
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash">
        {% for message in messages %}
            <p >{{ message }}</p>
        {% endfor %}
        </div>
    {% endif %}
  {% endwith %}
{% endblock content %}
