{% extends 'base.html' %}

{% block title %}原作:{{book.name}}{% endblock %}

{% block content %}
    <h1>エセ文豪著作一覧 </h1>
    <p class="original_author">
    原作: <a href={{ url_for('list_all_fake_books', author_name=book.author.name)}}>{{book.author.name}}</a>『{{book.title}}』
    </p>

    <div class="original-quote-small">
        <blockquote >
            {% for quote in book.quotes %}
                <p>{{quote.text}}</p>
            {% endfor %}
        </blockquote>
    </div>


    {{ pagination.links }}
    <div class="fake-list-wrapper">
        <div class="fake-list">
            <ul class="book">
                {% for fake_book in fake_books %}
                <li>
                    <p class="book-title">{{fake_book.fake_author.name}}『{{fake_book.title}}』</p>
                    {% for fake_quote in fake_book.fake_quotes %}
                    <p class="quote-text">
                        <a href={{ url_for('show_fake_quote', fake_quote_id=fake_quote.id)}}>{{fake_quote.text}}</a>
                    </p>
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {{ pagination.links }}
{% endblock %}