{% extends 'base.html' %}

{% block title %}{{fake_author.name}} 著作一覧{% endblock %}

{% block content %}
  <h1>{{fake_author.name}} 著作一覧</h1>
  <p class="original_author">
    原著: <a href={{ url_for('list_all_fake_books', author_name=fake_author.original_author.name)}}>{{fake_author.original_author.name}}</a>
  </p>

  {{ pagination.links }}
  <div class="fake-list-wrapper">
      <div class="fake-list">
          <ul class="book">
              {% for fake_book in fake_books %}
              <li>
                  <p class="book-title">『{{fake_book.title}}』</p>
                    {% for fake_quote in fake_book.fake_quotes %}
                    <p class="quote-text">
                        <a href={{ url_for('show_fake_quote', fake_quote_id=fake_quote.id)}}>{{fake_quote.text}}</a>
                    </p>
                    {% endfor %}
               </li>
               {% endfor %}
          </ul>
      </div>
  </div>
  {{ pagination.links }}
  {% endblock %}