{% extends 'base.html' %}

{% block content %}
  <div class="fake">
    <div class="author-wrapper">
      <div class="page-controller prev">←</div>
      <div id="fake-author">
        <image class="profile" src="/static/image/bungo/hayashi.jpg"
        alt="エセ文豪近影"></image>
      </div>
      <div class="page-controller next">→</div>
    </div>


    <div class="novel">
      <p id="fake-quote">{{ fake_quote.text }}</p>
      <p id="fake-cite">
        <a href={{ url_for('list_fake_books', fake_author_name=fake_quote.fake_book.fake_author.name) }}>{{ fake_quote.fake_book.fake_author.name }}『{{ fake_quote.fake_book.title }}』</a>
      </p>
    </div>
  </div>
  <div class="original">
    <blockquote>
      <p id="original-quote">{{ fake_quote.original_quote.text }}</p>
      <cite id="original-cite">
        <a href="{{ fake_quote.original_quote.book.url }}" target="_blank" rel="noopener noreferrer">
          {{ fake_quote.original_quote.book.author.name }}『{{ fake_quote.original_quote.book.title }}』
        </a>
      </cite>
    </blockquote>
  </div>

  <div class="sns">
    <a target="_blank" class="sns-icon twitter-icon" href="https://twitter.com/intent/tweet?text={{twitter_share.text}}&hashtags=エセ文豪&url={{twitter_share.url}}"></a>
  </div>
{% endblock %}

