{% extends 'base.html' %}

{% block content %}
  <h1>関連作品一覧</h1>
  <p>原著: {{author.name}}</p>

  <div class="fake-list-wrapper">
      <div class="fake-list">
          <p class="fake-list-head">エセ名言</p>
          <ul class="book">
              {% for book in author.books %}
                  {% for fake_book in book.fake_books %}
                  <li class="book-title">『{{fake_book.title}}』</li>

                      {% for fake_quote in  fake_book.fake_quotes %}
                      <li class="quote-text">
                          <a href={{ url_for('show_fake_quote', fake_quote_id=fake_quote.id)}}>{{fake_quote.text}}</a>
                      </li>
                      {% endfor %}
                  {% endfor %}
              {% endfor %}
          </ul>
      </div>
  </div>

  {% endblock %}