{% extends 'base.html' %}

{% block content %}
  <h1>関連作品一覧</h1>
  <p>原著: {{author.name}}</p>

  <div class="fake-list-wrapper">
      <div class="fake-list">
          <p class="fake-list-head">エセ文豪</p>
          <ul>
              {% for fake_author in author.fake_authors %}
              <li>
                <a href={{ url_for('list_fake_books', fake_author_id=fake_author.id)}}>{{fake_author.name}}</a>
              </li>
              {% endfor %}
          </ul>
      </div>
  </div>

  {% endblock %}