/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

/* html,
body {
  background: url('/images/whitepaper.jpg');

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
} */

html,
body {
  font-size: 16px;
  background-image: url("../public/images/whitepaper.jpg");


  color: #000;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN",
        "Hiragino Mincho Pro", "メイリオ";
  // display: flex;
  // min-height: 100vh;
  // flex-direction: column;
}
body a {
    color: #000;
}


* {
  box-sizing: border-box;
}

/* a {
  color: #0070f3;
  text-decoration: none;
}  */

/* a:hover {
  text-decoration: underline;
} */

img {
  max-width: 100%;
  display: block;
}